<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /~christopher/cardprocessor_emulator/public
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /index.php
</IfModule>